$theme-colors: (
"primary": #D40511,
"secondary": #a0a0a0,
"gray": #F2F2F2,
"dark": #000000
);
$hover-color: #EB131E;
$link-hover-color: $hover-color;

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 1024px,
xl: 1365px,
xxl: 1900px
);
$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1140px,
xxl: 1395px
);

$font-family-base: 'Delivery';

$modal-backdrop-bg: #ffcc00;

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-border-radius: 0;
$hamburger-layer-color: map-get($theme-colors, primary);
$hamburger-hover-opacity: 1;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-width: 23px;

$hamburger-types: (
squeeze
) !default;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";


// Buttons and inputs
// Selects
// Checkbox
// Header
// Menu mobile
// Buttons
// Menu tablet and desktop
// Navbar after scrolling
// Login modal
// Banner
// Header image
// Switch
// Search
// Tracking
// Progress table
// Calculator
// Footer


@font-face {
  font-family: 'Delivery';
  src: url('../font/EOT/DeliveryArabic_W_Rg.eot?#iefix') format('embedded-opentype'),
  url('../font/WOFF/DeliveryArabic_W_Rg.woff') format('woff'),
  url('../font/WOFF2/DeliveryArabic_W_Rg.woff2') format('woff2'),
  url('../font/TTF/DeliveryArabic_Rg.ttf') format('truetype'),
  url('../font/SVG/DeliveryArabic_W_Rg.svg#svgDelivery-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Delivery';
  src: url('../font/EOT/DeliveryArabic_W_Bd.eot?#iefix') format('embedded-opentype'),
  url('../font/WOFF/DeliveryArabic_W_Bd.woff') format('woff'),
  url('../font/WOFF2/DeliveryArabic_W_Bd.woff2') format('woff2'),
  url('../font/TTF/DeliveryArabic_Bd.ttf') format('truetype'),
  url('../font/SVG/DeliveryArabic_W_Bd.svg#svgDelivery-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Delivery';
  src: url('../font/EOT/DeliveryArabic_W_Lt.eot?#iefix') format('embedded-opentype'),
  url('../font/WOFF/DeliveryArabic_W_Lt.woff') format('woff'),
  url('../font/WOFF2/DeliveryArabic_W_Lt.woff2') format('woff2'),
  url('../font/TTF/DeliveryArabic_Lt.ttf') format('truetype'),
  url('../font/SVG/DeliveryArabic_W_Lt.svg#svgDelivery-Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Delivery-Condensed';
  src: url('../font/EOT/DeliveryArabic_W_CdBlk.eot?#iefix') format('embedded-opentype'),
  url('../font/WOFF/DeliveryArabic_W_CdBlk.woff') format('woff'),
  url('../font/WOFF2/DeliveryArabic_W_CdBlk.woff2') format('woff2'),
  url('../font/TTF/DeliveryArabic_CdBlk.ttf') format('truetype'),
  url('../font/SVG/DeliveryArabic_W_CdBlk.svg#svgDelivery-Condensed-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}
html, body {
  height: 100%;
}
html {
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
}
.col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5, .col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1, .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  padding-right: 18.5px;
  padding-left: 18.5px;
}
.site-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
h1, h2, h4 {
  font-family: 'Delivery-Condensed';
  font-weight: 900;
}
h1 {
  color: map-get($theme-colors, primary);
  font-size: 35px;
  text-transform: uppercase;
}
h2 {
  font-size: 29px;
}
h3 {
  font-size: 22px;
  font-weight: bold;
}
@include media-breakpoint-up (md) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 31px;
  }
}
@include media-breakpoint-up (lg) {
  h1 {
    font-size: 51px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 31px;
  }
}
// Buttons and inputs
.btn {
  font-weight: bold;
}
.btn.focus, .btn:focus,
.custom-control-input:focus,
.custom-control-input.focus,
.custom-control-input:focus ~ .custom-control-label::before  {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
select:focus,
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
.btn-outline-primary:hover, .btn-primary:hover {
  background-color: $hover-color;
  border-color: $hover-color;
}
.disabled {
  background-color: #CCCCCC !important;
  border: 1px solid #CCCCCC !important;
}
input {
  color: black;
  height: 48px !important;
}
.form-control {
  color: black;
}
input.is-invalid {
  border-color: #FE0000 !important;
  background-image: none !important;
}
label.is-invalid {
  color: #FE0000 !important;
}
// Selects
select{
  background: url(../img/icons/arrow-down.svg) no-repeat;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background-position: right 15px center;
  padding-left: 12px;
  height: 48px !important;
  padding-right: 30px;
}
select::-ms-expand {
  display: none;
}
select, input {
  border: 1px solid #a0a0a0 !important;
  border-radius: 4px !important;
}
input:focus, select:focus {
  border-color: black !important;
  border-width: 2px !important;
}
// Checkbox
.custom-control-label::before,
.custom-control-label::after {
  top: -2px;
  left: -48px;
  width: 30px;
  height: 30px;
}
.custom-control-label::before {
  border: 2px solid #8C8C8C;
  border-radius: 4px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url('../img/icons/check.svg');
  border-color: #8C8C8C;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #8C8C8C;
  background-color: white;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: white;
  border-color: #8C8C8C;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #8C8C8C;
}
.custom-checkbox {
  padding-left: 48px;
}
.custom-checkbox label {
  font-size: 16px !important;
}
b, strong {
  font-weight: bold;
}
// Header
header {
  text-align: center;
}
.container-fluid {
  max-width: 1395px;
}
.navbar, .header-img-container, .novinky-heading-container, footer, .sluzby-header-img-container {
  width: 100%;
  max-width: 1395px;
  margin: 0 auto;
}
.navbar {
  background: linear-gradient(to right, #fc0 0%, #fc0 30%, #ffe57f 79%, #fff0b2 100%);
  padding: 12px 18px;
  overflow-x: hidden;
  position: fixed;
  z-index: 10;
  overflow: visible;
}
.brand-img {
  height: 18px;
  margin: 7px 0;
}
@include media-breakpoint-up(md){
  .navbar {
    position: relative;
    padding: 28px 42px 23px 42px;
  }
  .navbar .brand-img {
    height: 24px;
    margin: 0;
  }
}
.navbar button {
  margin-left: 27px;
}
.navbar .btn-icon {
  background: none;
  border: none;
  padding: 0;
  margin-left: 27px;
}
// Buttons
.hamburger {
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.35, 1);
}
.hamburger-box {
  height: 7px !important;
}
.navbar .login-btn {
  font-weight: bold;
  padding: 3px 11px;
}
.lang-switch-container {
  position: fixed;
  background-color: white;
  top: 54px;
  left: 100vw;
  bottom: 0;
  right: 0;
  padding: 27px;
}
.lang-switch-container, .main-menu-container, .banner, .menu-col {
  transition: .4s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.35, 1);
}
.lang-switch-container button {
  padding: auto 7px;
  height: 27px;
  line-height: 0;
  font-family: 'Delivery-Condensed';
  font-weight: 900;
  margin: 0;
  float: left;
  background: none;
  border: none;
}
.lang-switch-container button.active {
  color: white;
  background-color: map-get($theme-colors, primary);
}
@include media-breakpoint-up(md) {
  .navbar .float-right {
    padding-top: 7px;
  }
  .navbar .account-btn {
    float: right;
  }
  .navbar .lang-switch-container {
    float: none;
    background: none;
    position: static;
    display: inline-block;
    padding: 0;
  }
  .navbar .lang-switch-container button {
    float: none;
    display: inline-block;
    font-weight: normal;
    font-family: 'Delivery';
    font-weight: normal;
    margin-left: 11px !important;
    background: none;
    border: none;
    padding: 3px 0;
    line-height: 1em;
    font-size: 14px;
  }
  .navbar .lang-switch-container button:hover, .lang-switch-container button.active:hover {
    color: $hover-color;
  }
  .navbar .lang-switch-container button.active {
    background: none;
    color: black;
    border-bottom: 2px solid black !important;
  }
  .navbar .lang-switch-container button.active:hover {
    border-bottom: 2px solid $hover-color !important;
  }
}
// Menu mobile
.main-menu-container, .menu-col {
  position: fixed;
  top: 54px;
  left: 100vw;
  bottom: 0;
  right: 0;
  background-color: white;
  text-align: left;
  padding: 0 18px;
  z-index: 10;
}
.main-menu-container h4 {
  margin: 25px 1px;
  font-size: 14px;
}
.main-menu {
  list-style: none;
  padding: 0;
}
.main-menu li {
  border-top: 1px solid #CCCCCC;
  padding: 27px 1px;
}
.main-menu li a {
  color: black;
}
.main-menu li a:hover {
  color: $hover-color;
  text-decoration: none;
}
.main-menu a.active {
  color: map-get($theme-colors, primary);
  position: relative;
}
.main-menu li a.active:before {
  content: "";
  background-color: map-get($theme-colors, primary);
  border-right: 2px solid map-get($theme-colors, primary);
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  width: 1px;
  height: 40px;
  position: absolute;
  left: -9px;
  top: -8.5px;
}
.main-menu a.active:hover {
  color: $hover-color;
}
.main-menu li a.active:hover:before {
  content: "";
  border: 1px solid $hover-color;
}
// Menu tablet and desktop
@include media-breakpoint-up(md){
  .navbar .main-menu-container {
    width: 100%;
    position: static;
    background: none;
    padding: 0;
  }
  .navbar .main-menu {
    font-size: 14px;
    font-weight: bold;
    margin-top: 27px;
    margin-bottom: 0;
  }
  .navbar .main-menu li {
    float: left;
    margin-right: 33px;
    padding: 0;
    border: none;
  }
  .navbar .main-menu li a {
    padding-bottom: 1px
  }
  .navbar .main-menu li a:hover {
    color: $hover-color;
    text-decoration: none;
  }
  .navbar .main-menu a.active {
    border-bottom: 2px solid map-get($theme-colors, primary);
  }
  .navbar .main-menu a.active:hover {
    border-bottom: 2px solid $hover-color  ;
  }
  .navbar .main-menu li a.active:before {
    content: "";
    border: none;
    width: 0;
    height: 0;
    position: static;
  }
  .navbar .login-btn {
    color: map-get($theme-colors, primary);
    border-color: map-get($theme-colors, primary);
    background-color: rgba(255, 255, 255, 0.6);
  }
  .navbar .login-btn:hover {
    color: $hover-color;
    border-color: $hover-color;
  }
}
// Navbar after scrolling
.navbar-scroll {
  display: none;
}
@include media-breakpoint-up(lg) {
  .navbar-scroll {
    display: block;
    position: fixed;
    top: -54px;
    left: 0;
    right: 0;
    z-index: 20;
    overflow: hidden;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.35, 1);
  }
  .navbar-scroll .navbar {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .navbar-scroll .brand-link {
    padding-bottom: 5px;
  }
  .navbar-scroll .brand-img {
    height: 17px;
  }
  .navbar-scroll .float-right {
    padding-top: 0;
  }
  .navbar-scroll .float-right .btn-icon {
    display: block !important;
  }
  .navbar-scroll .login-btn {
    margin: 0;
    padding-top: 2;
    padding-bottom: 2;
  }
  .navbar-scroll .main-menu-container {
    width: auto;
  }
  .navbar-scroll .main-menu-container .main-menu {
    margin-top: 0;
  }
}
// Login modal
.modal {
  background-color: rgba(#ffcc00, 0.95);
}
.modal-dialog {
  max-width: 400px;
}
.modal-content {
  border: none;
  border-radius: 0;
  margin: 18px;
  padding: 32px 18px;
}
.modal-header, .modal-body, .modal-footer {
  padding: 0;
  border: none;
}
.modal-title {
  font-family: 'Delivery-Condensed';
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 29px;
}
.modal-content .btn {
  width: 100%;
  border-radius: 4px;
  margin: 32px 0;
}
.modal-contentLogin modal p, .modal-content a {
  font-weight: bold;
  color: black;
}
#loginModal .custom-checkbox {
  margin-top: 67px;
}
.modal-content a:hover {
  text-decoration: none;
  color: #666666;
}
.modal-footer {
  text-align: center;
}
.green-dot {
  background-image: url('../img/icons/green-dot.svg') !important;
  background-repeat: no-repeat;
  background-position: right 18px center;
}
// Banner
.banner {
  position: absolute;
  top: 56px;
  max-width: 1395px;
  margin: 0 auto;
  top: 54px;
  background-color: map-get($theme-colors, 'gray');
  text-align: left;
  z-index: 15;
  overflow: hidden;
}
.banner-content {
  padding: 24px 18px;
}
.banner p {
  margin-right: 46px;
}
.banner .close {
  float: right;
}
.banner .ok-btn {
  font-weight: bold;
  width: 120px;
}
// Header image
.header-margin {
  width: 100%;
  height: 54px;
}
.header-img-container {
  height: 240px;
  position: relative;
  overflow: hidden;
}
.header-img {
  top: 40%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  height: auto;
  width: 100%;
}
@include media-breakpoint-up(md){
  .banner {
    position: static;
  }
  .banner-content {
    padding: 18px 42px 29px 42px;
  }
  .header-img-container {
    height: 140px;
  }
  .header-img {
    top: 9%;
  }
}
@include media-breakpoint-up(lg){
  .header-img-container {
    height: 240px;
  }
  .header-img {
    top: 17%;
  }
}
.content-col {
  margin: 0 auto;
}
.content-col h1 {
  margin-top: 47px;
  margin-bottom: 47px;
}
// Switch
.switch {
  width: 100%;
  margin-bottom: 31px;
}
@include media-breakpoint-up(md) {
  .switch {
    margin-bottom: 50px;
  }
}
.switch .btn {
  padding-top: 11px;
  padding-bottom: 11px;
}
.btn-outline-primary:hover {
  background-color: $hover-color;
  border-color: $hover-color;
}
// Search
.input-group-text {
  background: none;
  border-right: none;
}
@include media-breakpoint-up(md) {
  #search-form {
    margin-bottom: 70px;
  }
}
.search {
  margin-bottom: 0 !important;
}
.search input[type=text] {
  background-image: url('../img/icons/search.svg');
  background-repeat: no-repeat;
  background-position: 12px center;
  padding-left: 40px;
  height: 46px !important;
  border-radius: 4px !important;
}
.search-focused {
  border: 2px solid black !important;
  border-bottom: none !important;
  border-radius: 4px 4px 0 0 !important;
}
.search input[type=text]::placeholder {
  color: #bababa;
  opacity: 1;
}

.search input[type=text]:-ms-input-placeholder {
  color: #bababa;
}

.search input[type=text]::-ms-input-placeholder {
  color: #bababa;
}
.autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  margin-top: -2px;
  z-index: 10;
  height: 0;
  overflow: hidden;
  transition: .4s;
  display: none;
}
.autocomplete ul {
  padding: 0;
}
.autocomplete li {
  padding: 17px 20px;
  background-color: white;
  display: block;
  font-size: 12px;
  color: #8b8b8b;
}
.autocomplete ul li {
  cursor: pointer;
  color: black;
  font-size: 16px
}
.autocomplete ul li:hover {
  background-color: rgba(#000000, 0.1);
  text-decoration: none;
}
.autocomplete ul li span {
  display: block;
  font-size: 12px;
  color: #666666;
}
.loading {
  width: 100%;
  text-align: center;
}
.loading h3 {
  margin-bottom: 42px;
  font-family: 'Delivery-Condensed';
  font-weight: 900;
}
.loading img {
  margin: 0 auto;
  animation: loading 2s infinite;
  animation-timing-function: linear;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@include media-breakpoint-up(md) {
  .loading-img {
    margin: 0 auto 70px auto;
  }
}
// Tracking
.tracking-container h2, .calculator-container h2 {
  margin-bottom: 54px;
}
.tracking-container hr {
  border: 2px solid black;
  margin-top: 0;
  margin-bottom: 22px;
}
.tracking-container .info {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding-top: 22px;
}
.tracking-container .titles {
  font-weight: bold;
}
.tracking-container .col-6 {
  margin-bottom: 4px;
}
.tracking-container .actual {
  margin: 0;
  padding: 0;
  background-color: map-get($theme-colors, 'gray');
}
.tracking-container .actual {
  margin-top: 49px;
}
.tracking-container .actual h3 {
  background-color: white;
  margin-bottom: 0;
  padding-bottom: 8px;
}
.tracking-container .actual p {
  text-align: center;
}
.tracking-container .actual .place {
  padding-top: 45px;
  margin-bottom: 44px;
}
.tracking-container .actual .accepted {
  margin: 0;
  padding-bottom: 45px;
}
.progress-col {
  margin-top: 49px;
}
.tracking-progress {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
@include media-breakpoint-up(md) {
  .tracking-container .actual {
    margin-top: 0;
  }
  .progress-col {
    margin-top: 57px;
  }
  .tracking-container .actual .accepted {
    padding: 0;
  }
  .tracking-container .actual {
    height: 100%;
  }
  .tracking-container .info-col {
    height: 100%;
  }
}
// Progress table
.progress-table .table-header,
.progress-table .block {
  border-bottom: 1px solid black;
}
.progress-table {
  color: #707070;
}
.progress-table .table-header,
.progress-table .latest {
  color: black;
}
.progress-table p {
  margin: 11.95px 0;
}
.progress-table .place {
  font-weight: bold;
}
.progress-table .place p {
  margin-top: 8px;
}
.progress-table .block-row {
  padding-left: 47px;
}
.tracking-progress .table-img {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  width: 47px;
  float: left;
}
.tracking-progress .table-img img {
  bottom: -130px;
  left: -57px;
  position: absolute;
}
.tracking-progress .btn {
  width: 100%;
  margin-top: 40px;
  padding: 14px;
  float: right;
}
@include media-breakpoint-up(md) {
  .progress-table .block {
    border: none;
  }
  .progress-table .place p {
    margin: 15px 0;
  }
  .progress-table p {
    margin: 15px 0;
  }
  .progress-table .block-row {
    padding-left: 0;
  }
  .progress-table .table-header p {
    margin: 24px 0 17px 0;
  }
  .tracking-progress .table-img {
    height: 100%;
  }
  .tracking-progress .table-img img {
    left: 0;
    bottom: 10px;
  }
  .tracking-progress .btn {
    width: auto;
  }
}
// Calculator
.calculator-container h2 {
  text-align: center;
}
.calculator-container .btn {
  width: 100%;
  height: 48px;
}
.calculator-container .btn-group {
  margin-top: 16px;
}
.form-group,
.input-group {
  position: relative;
  margin-bottom: 16px;
}
.form-group label,
.input-group label {
  position: absolute;
  top: 1px;
  left: 12px;
  color: #8b8b8b;
  z-index: 9;
  transition: .15s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.35, 1);
}
.product-select-group label {
  top: 11px;
}
.input-group label {
  left: 17px;
}
.input-group input {
  padding-left: 12px;
  padding-right: 12px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.calculator-container .input-group-text {
  border: 1px solid #a0a0a0;
  padding-bottom: 16px;
}
.input-group select, .calculator-container .input-group-text {
  width: 101px;
  color: #8b8b8b;
}
.calculator-container .result .btn-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
}
.calculator-container .result {
  margin-top: 36px;
  height: 277px;
  position: relative;
  text-align: center;
  background-color: map-get($theme-colors, 'gray');
}
.calculator-container .result .result-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  padding-bottom: 64px;
}
.calculator-container .result h2 {
  margin-bottom: 0;
}
@include media-breakpoint-up(md) {
  .calc-submit {
    margin-top: 56px;
  }
}
.calculator-container .btn-group .btn-primary {
  border: none;
  margin-left: 0 !important;
}
.calculator-container .btn-group {
  position: relative;
}
.calculator-container .delimeter-container {
  background-color: map-get($theme-colors, primary);
  padding-top: 9px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.calculator-container .delimeter-container.disabled {
  background-color: #CCCCCC;
}
.calculator-container .delimeter {
  width: 1px;
  height: 30px;
  background-color: white;
}
.calculator-container .btn.disabled,
.calculator-container .btn:disabled {
  background-color: #CCCCCC;
  opacity: 1;
  border-color: #CCCCCC;
}
@include media-breakpoint-up(md) {
  .calculator-container .result {
    margin-top: 0;
    height: 100%;
  }
  .calculator-container .result .result-text {
    padding-bottom: 104px;
  }
  .calculator-container .btn {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 955px) {
  .calculator-container .btn {
    margin-top: 104px;
  }
  .calculator-container .btn-group {
    flex-direction: column;
  }
  .delimeter-container {
    display: none;
  }
  .calculator-container .btn-group .btn {
    width: 207px !important;
    border-radius: 0;
    margin: 0 auto !important;
  }
  #phoneLink {
    border-radius: 0.25rem 0.25rem 0 0 !important;
  }
  #emailLink {
    border-radius: 0 0 0.25rem 0.25rem !important;
  }
  .calculator-container .result .result-text {
    padding-bottom: 152px;
  }
}
@include media-breakpoint-up(lg) {
  .calculator-container .input-group select, .calculator-container .input-group-text {
    width: 78px;
  }
}
@include media-breakpoint-up(lg) {
  .calculator-container .input-group select, , .calculator-container .input-group-text {
    width: 83px;
  }
}
.calculator-container input:disabled, {
  border-width: 0 1px 0 0 !important;
}
.calculator-container .input-group-text.disabled {
  border: none !important;
  background-color: #e9ecef !important;
}
.calc-alert {
  margin-top: -14px;
  margin-bottom: 6px;
}
.calc-alert div, .calc-alert p {
  display: inline-block;
}
.calc-alert .circle {
  border: none;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
  transition-duration: 2s !important;
}
.calc-alert .circle.green {
  background-color: #76BD22;
  animation: none !important;
}
.calc-alert .circle.red {
  background-color: map-get($theme-colors, primary);
}
.calc-alert .circle.light {
  background-color: #FE0000;
}
.calc-alert .circle.animated {
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #D40511;
  }
  50% {
    background-color: #EE9BA0;
  }
  100% {
    background-color: #D40511;
  }
}
.calc-alert p {
  font-size: 11px;
  color: black;
  padding-left: 16px;
  margin-bottom: 0;
}
.calculator-container .order-text {
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  margin-top: 1em;
}
.calculator-container .btn-group {
  width: 100%;
}
.calculator-container .btn-group .btn {
  width: auto;
  line-height: 34px;
}
.calculator-size .form-row {
  margin-left: 0;
  margin-right: 0;
  padding-right: 101px;
  width: 100%;
}
.calculator-size .input-group-text {
  position: absolute;
  height: 48px;
  top: 0;
  right: 0;
}
.calculator-size .col-4 {
  padding: 0;
}
.calculator-size input {
  border-radius: 4px !important;
}
#heightInput {
  border-radius: 4px 0 0 4px !important;
  border-right: 0 !important;
}

.calculator-size img {
  position: absolute;
  top: 19px;
  right: -6px;
  z-index: 10;
}
.server-wait {
  display: none;
}
.server-wait .calc-alert {
  margin-top: 2px;
}
@include media-breakpoint-up(md) {
  .server-wait {
    left: 0;
    right: 0;
    position: absolute;
  }
  .server-wait .calc-alert {
    width: 178px;
    margin: 2px auto 0 auto;
  }
}
@include media-breakpoint-up(lg) {
  .calculator-size .form-row {
    padding-right: 82px;
  }
}
// Footer
footer {
  font-size: 14px;
  padding: 35px 17px;
  background-color: map-get($theme-colors, 'gray');
  margin-top: 70px;
  flex-shrink: 0;
  z-index: 10;
}
.footer-2 {
  margin-top: 0;
}
footer p {
  margin: 0;
}
footer a, .copyright p {
  color: #707070;
}
footer .text-links a {
  margin: 15px 0;
  display: inline-block;
  float: left;
  width: 49%;
}
footer .text-links a:hover {
  color: $hover-color;
}
footer .text-links p {
  margin-bottom: 15px;
}
footer a:hover {
  text-decoration: none;
}
footer .social-links p {
  margin-bottom: 32px;
}
footer .social-links a {
  margin-right: 34px;
}
footer .social-links a path {
  transition: .3s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.35, 1);
}
footer .social-links a:hover path {
  fill: $hover-color;
}
.copyright {
  padding-top: 54px;
  width: 100%;
}
.copyright p {
  margin: 0 auto;
  max-width: 240px;
}
@include media-breakpoint-up(md){
  footer .text-links p {
    margin-bottom: 30px;
  }
  footer .text-links a {
    width: auto;
    margin: 0 38px 25px 0;
  }
  .copyright {
    padding-top: 19px;
  }
  .copyright p {
    margin: 0 auto;
    max-width: none;
  }
}
.novinky-img-container {
  height: 282px;
}
.novinky-img-container img {
  top: 40%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}
.novinky-heading-container {
  padding-right: 18.5px;
  padding-left: 18.5px;
  margin-bottom: 54px;
}
.novinky-heading-container h1 {
  color: black;
  margin-top: 18px;
}
.novinky-heading-container .btn {
  width: 100%;
  height: auto;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 10px;
}
@include media-breakpoint-up(md) {
  .novinky-heading-container {
    height: 584px;
    padding: 110px 42px;
    background:  linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%), url('../img/novinky-tablet.jpg');
    background-size: cover;
    margin-bottom: 60px;
    background-blend-mode: multiply;
  }
  .novinky-heading-container h1,
  .novinky-heading-container h3,
  .novinky-heading-container p {
    color: white;
  }
  .novinky-heading-container h3 {
    font-family: 'Delivery-Condensed';
  }
  .novinky-heading-container h1 {
    margin-top: 0;
  }
  .novinky-heading-container p {
    font-size: 18px;
  }
  .novinky-heading-container .btn {
    width: 178px;
    margin-top: 35px;
  }
}
@include media-breakpoint-up(lg) {
  .novinky-heading-container {
    height: 584px;
    background:  linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%), url('../img/novinky-desktop.jpg');
    background-position: center;
    background-size: cover;
  }
}
.novinky-search {
  margin-bottom: 54px !important;
}
// Cards
.novinky-row .card, .novinky-row .card-img-top {
  border-radius: 0;
}
.novinky-row .card {
  border: none;
  height: 100%;
}
.novinky-row .card-body {
  padding-top: 24px;
  padding-left: 0;
  padding-right: 0;
}
.novinky-row .card-title, .novinky-row .card-text {
  color: black;
}
.novinky-row .card-title {
  margin-bottom: 20px;
}
.novinky-row .card .btn-outline-primary {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.novinky-row .card-footer {
  padding: 0;
  background: none;
  border: none;
  margin-bottom: 58px;
}
.load-more {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
@include media-breakpoint-up(md) {
  .novinky-row .card .btn-outline-primary {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
  }
  .novinky-row .card .btn-outline-primary:hover {
    background: none;
    color: $hover-color;
    text-decoration: underline;
  }
  .load-more {
    width: 150px;
    margin-top: 26px;
  }
  .novinky-row {
    padding-left: 23px;
    padding-right: 23px;
  }
  .novinky-row .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@include media-breakpoint-up(lg) {
  .novinky-row .col-lg-4 {
    padding-left: 21.5px;
    padding-right: 21.5px;
  }
  .load-more {
    width: 178px;
  }
}

// Kontakt
.kontakt-block-2 h3, .kontakt-block-3 h3 {
  margin-top: 16px;
}
.kontakt-block-2, .kontakt-block-3 {
  padding-left: 0;
  padding-right: 0;
}
.kontakt-mail-btn {
  margin-top: 16px !important;
}
@include media-breakpoint-up(md) {
  .kontakt-container {
    padding-left: 42px;
    padding-right: 42px;
  }
  .kontakt-block-1 .btn {
    width: 230px;
    display: block;
  }
  .kontakt-mail-btn {
    margin-top: 16px !important;
  }
  .kontakt-block-2 h3, .kontakt-block-3 h3 {
    margin-top: 0;
    margin-bottom: 13px;
  }
  .kontakt-block-2 .btn, .kontakt-block-3 .btn {
    margin-top: 47px;
  }
  .kontakt-block-1 {
    background:  linear-gradient(-135deg, rgba(0, 0, 0, 0) 0%, #919191 100%), url('../img/kontakt-1-desktop.jpg');
    background-position: center;
  }
  .kontakt-block-2, .kontakt-block-3 {
    background-position: center !important;
    height: 434px;
    text-align: center;
  }
  .kontakt-block-2 {
    background:  url('../img/kontakt-2-desktop.jpg');
    margin-bottom: 50px;
    padding-top: 125px;
  }
  .kontakt-block-2 p {
    max-width: 493px;
    margin: 0 auto;
  }
  .kontakt-block-3 {
    background:  url('../img/kontakt-3-desktop.jpg');
    margin-bottom: 0;
  }
  .kontakt-block-3 p {
    max-width: 702px;
    margin: 0 auto;
  }
}
@include media-breakpoint-up(lg) {
  .kontakt-block-1 .btn {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 42px;
    display: inline-block;
  }
  .kontakt-mail-btn {
    margin-top: 35px !important;
  }
}
// Sluzby
.sluzby-header-img-container {
  height: auto;
  position: static;
  overflow: hidden;
}
.sluzby-header-img-container .header-img {
  position: static;
  transform: none;
}
@include media-breakpoint-up(md) {
  .sluzby-header-img-container {
    height: 240px;
    position: relative;
    overflow: hidden;
  }
  .sluzby-header-img-container .header-img {
    top: 0;
    position: absolute;
    transform: translate(-50%, 0);
    height: 100%;
    width: auto;
    min-width: 100%;
  }
}
.sluzby-container-1 h1 {
  margin-bottom: 16px;
}
.sluzby-container-1 h3 {
  margin-top: 96px;
}
.sluzby-container-1 p {
  max-width: 618px;
  margin: 0 auto;
}
.line {
  background-color: #808080;
  height: 7px;
  border: none;
  border-radius: 10px;
  max-width: 775px;
  margin: 32px auto 0 auto;
}
.sluzby-icons {
  margin-top: 27px;
  max-width: 334px;
  margin-left: auto;
  margin-right: auto;
}
.sluzby-icons p {
  color: map-get($theme-colors, primary);
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 25px;
}
.sluzby-icons .col-4 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.sluzby-block {
  padding: 16px 0 0 0;
}
.view-all-mobile {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.view-all-mobile img {
  margin-right: 21px;
  margin-bottom: 3px;
}
.sluzby-block-img {
  margin-top: 18px
}
@include media-breakpoint-up(md) {
  .sluzby-container-1 h1 {
    margin-bottom: 13px;
  }
  .sluzby-icons {
    margin-top: 42px;
    max-width: none;
  }
  .sluzby-icons .col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .sluzby-header {
    margin-top: 53px !important;
  }
  .sluzby-block {
    background: url('../img/sluzby-2-desktop.jpg');
    height: 434px;
    margin-top: 50px;
    text-align: center;
    padding-top: 119px;
    max-width: 1278px;
  }
  .sluzby-block p {
    max-width: 618px;
    margin-left: auto;
    margin-right: auto;
  }
  .sluzby-block .btn {
    width: auto;
    margin-top: 31px;
  }
  .sluzby-block .kontakt-phone-btn {
    margin-right: 38px;
  }
}
// Table
.sluzby-table-row {
  color: black;
  margin-left: 0;
  margin-right: 0;
  margin-top: 34px;
}
.sluzby-table-row .col-12 {
  padding: 0;
  margin: 0 0 36px 0;
  overflow: hidden;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
}
.sluzby-table-row .col-12 .sluzby-col-container {
  padding: 0 37px 30px 37px;
}
.sluzby-table-row h4 {
  font-size: 20px;
  font-family: 'Delivery';
}
.sluzby-table-row p {
  max-width: none;
  padding-bottom: 16px;
}
.sluzby-table-row .smaller {
  font-size: 14px;
}
.sluzby-table-row .table-close {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
}
.sluzby-table-row .table-close img {
  width: 15.56px;
  height: 15.56px;
}
.sluzby-table-row .double-text {
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}
.sluzby-table-row .double-text .left {
  width: 74%;
  display: inline-table;
}
.sluzby-table-row .double-text .right {
  float: right;
  width: 24%;
  position: relative;
}
.sluzby-table-row .no-border {
  border: none !important;
}
.sluzby-table-row .available-icon {
  position: absolute;
  top: 7px;
  left: 0;
}
.sluzby-table-row .table-info-icon {
  margin-top: 6px;
  margin-right: 15px;
}
.sluzby-table-row .sluzby-menu {
  padding: 0;
  border: none;
  background: none;
  float: right;
}
.sluzby-table-row .btn-primary, .sluzby-table-row .btn-outline-primary {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
.sluzby-table-row .btn-outline-primary {
  margin-top: 9px;
  margin-bottom: 18px;
}
.sluzby-table-row .btn-outline-primary img {
  margin-left: 9px;
}
.sluzby-table-row .sluzby-hide {
  overflow: hidden;
}
.sluzby-table-row .column-header {
  height: 127px;
  border-bottom: 4px solid black;
  padding-top: 30px;
  margin-bottom: 8px;
}
.sluzby-table-row .sluzby-menu {
  cursor: pointer;
}
.sluzby-table-row .sluzby-menu:focus {
  outline: none !important;
}
.popover {
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.3));
  border-radius: 0;
  border: none;
}
.popover-body a {
  text-decoration: underline;
}
.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^=right] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}
@include media-breakpoint-up(md) {
  .sluzby-table-row {
    margin-top: 20px;
    margin-left: -27.5px;
    margin-right: -27.5px;
  }
  .sluzby-table-row .col-12 {
    max-width: 375px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-bottom: 0;
  }
  .sluzby-table-row .double-text {
    margin-bottom: 0;
  }
  .sluzby-table-row .column-header {
    margin-bottom: 0;
  }
  .sluzby-table-row p {
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 18px;
  }
  .sluzby-table-row .double-text .left {
    display: none;
  }
  .sluzby-table-row .double-text .right {
    width: 100%;
    display: block;
    float: none;
    min-height: 58px;
  }
  .sluzby-table-row .height-2 {
    min-height: 83px;
  }
  .sluzby-table-row .height-3 {
    min-height: 106px;
  }
  .sluzby-table-row .double-text .right img {
    margin-top: 18px;
    position: static;
  }
  .sluzby-table-row .double-text .right br {
    display: none;
  }
  .sluzby-table-row .description-col {
    max-width: 215px;
    box-shadow: none;
    border-radius: 0;
  }
  .sluzby-table-row .description-col p {
    font-weight: bold;
  }
  .sluzby-table-row .view-all-desktop {
    border: none;
    background: none;
    padding: 0;
    color: #CCCCCC;
  }
  .sluzby-table-row .view-all-desktop img {
    margin-right: 18px;
  }
  .sluzby-table-row .description-col p {
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 18px;
    margin-bottom: 0;
  }
  .line-2 {
    margin-top: 20px;
  }

}
// Novinky detail
.detail-text {
  margin-top: 18px;
}
.detail-text h1 {
  color: black;
  text-transform: none;
}
.detail-text h3 {
  display: block;
  width: 100%;
}
.detail-text p {
  color: black;
  width: 100%;
  margin-bottom: 20px;
}
.detail-text a {
  text-decoration: underline;
}
.detail-text ul {
  list-style:none;
  padding-left: 0;
}
.detail-text ul li {
  background:url('../img/icons/bullet.svg') no-repeat left top 12px;
  padding-left: 13px; /* the width of your image + some space */
}
.detail-text ol {
  padding-left: 0;
  list-style-type: none;
  margin-left: 0;
}
.detail-text ol > li {
  counter-increment: customlistcounter;
}
.detail-text ol > li:before {
  content: counter(customlistcounter) " ";
  float: left;
  width: 12px;
  color: map-get($theme-colors, primary);
}
.detail-text ol li p {
  padding-left: 12px;
}
.detail-text ol:first-child {
  counter-reset: customlistcounter;
}
.detail-text ol {
  *list-style-type: decimal; /* targets IE6 and IE7 only */
}
.tags {
  margin-top: 28px;
  margin-bottom: 27px;
}
.tags .btn-outline-secondary {
  font-weight: normal;
  border-radius: 2px;
  font-size: 14px;
  height: 28px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 0;
  padding-bottom: 0;
}
.tags .btn-outline-secondary:hover {
  color: white;
}
.author {
  width: 100%;
  position: relative;
  margin-top: 57px;
  margin-bottom: 72px;
}
.author img, .author p {
  display: inline-block;
}
.author img {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}
.author p {
  width: auto;
  color: #666666;
  font-size: 13px;
  padding-left: 63px;
  margin-bottom: 0;
  line-height: 16px;
}
.author span {
  color: black;
}
.similar-arrow {
  display: none;
}
@include media-breakpoint-up(md) {
  .detail-img {
    margin-top: 60px;
  }
  .detail-text {
    max-width: 618px;
    margin-left: auto;
    margin-right: auto;
  }
}
@include media-breakpoint-up(lg) {
  .author {
    margin-top: 74px;
  }
}
// Podobné příspěvky
.similar-posts-container {
  margin-top: 42px;
}
@include media-breakpoint-up(lg) {
  .arrowsContainer {
    width: 100%;
    max-width: 838px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .similar-posts-container {
    max-width: 838px;
    margin-top: 0;
    height: 741px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
  }
  .similar-posts {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .similar-posts .col-lg-2, .similar-posts .col-lg-6 {
    padding-left: 21px;
    padding-right: 21px;
  }
  .similar-posts .card {
    width: 100% !important;
    max-width: none !important;
  }
  .similar-posts .card-img-top {
    width: 100%;
  }
  .similar-arrow {
    display: block;
    position: absolute;
    top: 57px;
    cursor: pointer;
  }
  #similarLeft {
    left: -89px;
  }
  #similarRight {
    right: -89px;
  }
}
